@charset "UTF-8";

body {
	margin: 0 auto;
    background-color:#FFE4C4;
	text-align: center;
}

li {
	list-style: none;
    font-size: 20px;
}
a {
	color: #000000;
	text-decoration: none;
}
 a span:hover{
	font-weight: bold;
}
img{
	width: 400px;
}